<div class="container">
    <ng-container *ngIf="cartItems.length == 0">
        <div class="d-flex flex-column justify-content-center align-items-center m-5">
            <h3>Le panier est vide !</h3>
            <div class="d-flex justify-content-center">
                <img src="assets/img/peak-hi.gif" alt="empty-cart">
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="cartItems.length != 0">
        <div class="text-center py-4">
            <h1>Votre panier :</h1>
          </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>DESCRIPTION</th>
                    <th>PRIX</th>
                    <th class="text-uppercase">quantitée</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cartItems">
                    <td>{{cartItem.training.id}}</td>
                    <td>{{cartItem.training.name}}</td>
                    <td>{{cartItem.training.description}}</td>
                    <td>{{cartItem.training.price}}</td>
                    <td><input type="number" name="quantity" min="1" style="width: 60px" class="text-center" [(ngModel)]="cartItem.quantity" (ngModelChange)="updateQuantity(cartItem.training, $event)"></td>
                    <td><a (click)="removeTraining(cartItem.training)" class="btn btn-warning">Supprimer</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-end">TOTAL :</td>
                    <td>{{ totalPrice | currency:'EUR':'symbol':'1.2-2' }}</td>
                    <td></td>
                    <td><a (click)="clearCart()" class="btn btn-danger">Supprimer tout le panier </a></td>
                </tr>
            </tfoot>
        </table>
        <div class="d-flex justify-content-center py-3">
            <button type="button" class="btn btn-success" routerLink="/form">Valider votre commande </button>
        </div>
    </ng-container>
</div>