<div class="container">
    <ng-container *ngIf="listTrainings">
        <div class="text-center py-4">
            <h1>Listes des formations :</h1>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>DESCRIPTION</th>
                    <th>PRIX</th>
                    <th class="text-uppercase">quantitée</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of listTrainings">
                    <td>{{training.id}}</td>
                    <td>{{training.name}}</td>
                    <td>{{training.description}}</td>
                    <td>{{training.price}}</td>
                    <td><input type="number" name="quantity" min="1" style="width: 60px" class="text-center" [(ngModel)]="training.quantity"></td>
                            
                    <td><a (click)="onAddToCart(training)" class="btn btn-primary">Ajouter au panier</a></td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>