<div class="container-lg">
    <div class="min-vh-100 d-flex flex-column justify-content-center align-items-center">
        <p class="text-center">Where are you ?</p>
        <div class="d-flex justify-content-center">
            <img src="assets/img/peak-hi.gif" alt="404 Not Found">
        </div>
        <div class="w-100 p-3">
            <p class="text-center">Revenir vers :</p>
            <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-primary my-3 p-2" routerLink="/trainings">Listes des formations</button>
                <button type="button" class="btn btn-primary my-3 p-2" routerLink="/cart">Contenu du panier</button>
            </div>
        </div>
    </div>
</div>